
body {
  font-family: 'Roboto', sans-serif;
  font-size:10pt;
}

.bar {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.title {
  font-size: 14px;
}

svg{
  font-size: 10px;
}
